//Font Definitions
@font-face {
    font-family: 'Telegrotesk Next Regular';
    src: url(./fonts/telegrotesknext-regular.woff) format('woff');
}
@font-face {
    font-family: 'Telegrotesk Next Bold';
    src: url(./fonts/telegrotesknext-bold.woff) format('woff');
}
@font-face {
    font-family: 'Telegrotesk Next Thin';
    src: url(./fonts/telegrotesknext-thin.woff) format('woff');
}
@font-face {
    font-family: 'TeleNeo';
    src: url(./fonts/TeleNeoWeb-Regular.eot) format('eot'), url(./fonts/TeleNeoWeb-Regular.woff) format('woff'),
        url(./fonts/TeleNeoWeb-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'TeleNeo';
    src: url(./fonts/TeleNeoWeb-Bold.eot) format('eot'), url(./fonts/TeleNeoWeb-Bold.woff) format('woff'),
        url(./fonts/TeleNeoWeb-Bold.woff2) format('woff2');
    font-weight: bold;
}

// Override default variables before the import
$body-bg: #cfcfcf;
$font-family-base: Arial, sans-serif;
$primary: #004494;
$info:#FFD617;
$dark: #404040;
$gray-100: #F2F5F9;
$body-color:$dark;
$light: #ebebeb;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$header-height: 120px;
$menu-width: 120px;
$menu-padding: 1rem;
$data-card-border-radius: 0px;
$input-border-radius: 4px;
$user-image-width:39px;

hr {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    border-top: 1px solid #d9d9d9
  }

#qt-header {
    margin: 0;
    padding: 1rem;
    height: 84px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#qt-body {
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 1rem 1rem 2rem 1rem;
}

#qt-footer {
    margin:0px;
    height: 32px;
    width: 100%;
    align-items: center;
}

#root {
    height: 100%;
    display: flex;
    flex-flow: column;
}

#user-container {
    justify-content: center;

    // all greater than md
    
    @include media-breakpoint-up(md) {
        position: absolute;
        right: 0;
        top: 0;
        padding: 1rem;
        justify-content: flex-end;
    }
    
}

#process-row {
    justify-content: center;
    font-size: 20px;
    padding-bottom: 0;
    margin: 0;
    padding-right: 1rem;

    @include media-breakpoint-up(sm) {
        justify-content: flex-end;
    }
}

#data-card{
    height: 100%;
    background-color: $light;
    border-radius: $data-card-border-radius;
    border: none;
}
.data-modal{
    background-color: $light;
    border-radius: $data-card-border-radius;
}

#data-header {
    background-color: white;
    border-top-left-radius: $data-card-border-radius;
    border-top-right-radius: $data-card-border-radius;
    border: 0;
}

#data-footer {
    background-color: $light;
    border: 0;
    text-align: right;
    padding: 1rem;
    padding-top: 0;
    border-bottom-left-radius: $data-card-border-radius;
    border-bottom-right-radius: $data-card-border-radius;

    .row {
        margin: 0;
        justify-content: center;

        @include media-breakpoint-up(md) {
            justify-content: flex-end;
        }
    }
}

#id-query-text {
    font-size: 20px;
    align-self: center;
    text-align: center;
}

#qr-code-container {
    background-color: $body-bg;
    padding-top: 100%;
    position: relative;
}

#qr-code {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
}
.qt-input{
    align-self: center;
    border-radius: $input-border-radius;
    border: 1px solid $primary;
}
.footer-font {
    font-size: 11px;
    color: white;
}

.header-font {
    font-weight: bold;
    font-size: 26px;
    color: black;
}

// @media screen and (max-device-width: 480px) {
//     .header-font {
//         font-family: 'TeleNeo';
//         font-weight: bold;
//         font-size: 14px;
//         color: black;
//         white-space: nowrap;
//     }
// }

.btn {
    font-size: 16px;
    border-radius: 0px;
}
.landing-title{
    font-size: 18px;
    max-width: 480px;
    width: 100%;
}
.landing-btn {
    position: relative;
    font-weight: bold;
    color: white;
    max-width: 480px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    @include media-breakpoint-down(xs) {
        padding-right: 15%;
    }
    
}
.landing-btn::after{
    position: absolute;
  content: "";
  top:13px;
  right:10%;
  width: 0;
  height: 0;
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.center-content {
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 1rem;
}

.input-label {
    font-size: 20px;
}

.txt-no-wrap{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.first-col-item {
    @include media-breakpoint-up(sm) {
        padding-left: 15px;
    }
}

.jcc-xs-jcfs-sm {
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(sm) {
        justify-content: flex-start;
    }
}

.jcc-xs-jcfs-md {
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(md) {
        justify-content: flex-start;
    }
}
.tac-xs-tal-md {
    text-align: center;

    @include media-breakpoint-up(md) {
        text-align: left;
    }
}

.position-inherit {
    position: inherit;
}

.dropdown-toggle::after {
    width: $user-image-width;
    height: $user-image-width;
    background-image: url('../images/user.png') !important;
    border: 0;
    align-self: center;
}
.nav-link {
    padding: 0;
    display: flex;
    height: $user-image-width;
    line-height: $user-image-width;
    font-size: 20px;

}
.navbar-toggler {
    border: 0 !important;
    padding: 0;
    &:active,
    &:focus {
        outline: 0;
    }
}
.dropdown-menu {
    min-width: $menu-width;
    padding-left: $menu-padding;
    padding-right: $menu-padding;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.25);
    border: 0;
    justify-content: center;
}

.dropdown-item {
    text-align: center;
}
.react-date-picker__wrapper {
    border: 0 !important;
}

.ckb-input{
    position: inherit;
    width: 20px;
    height:20px;
    border-radius: $data-card-border-radius;
}
.rdb-input{ 
    position: inherit;
    width: 20px;
    height:20px;
}
.rdb-label{
    height: 20px;
    align-self: center;
    padding-left: 0.5rem;
} 
.qt-notification{
    margin-bottom: 20%;
    border-radius: 6px;
    border-color: #46A800;
    color: black;
    display: flex;
}

.qt-notification-text{
    font-size: 22px;
}

.success-icon {
    background-image: url('../images/icon_success.svg') !important;
    height: 40px;
    width: 40px;
  }

  .form-flex{
      display: flex;
      flex-direction: column;
      height: 100%;
  }

  .space-five {
      padding: 5px;
  }
  
.selection-placeholder {
    color: $secondary;
    option:not(:first-child) {
        color: $dark;
    }
}
.eu-logo{
    margin-left: 1rem;
    margin: 13px 0px 13px 16px;
}
.header-title{
    font-size: 18px;
    margin-left: 16px;
    display: flex;
    align-self: center;
}
.bg-gray-1{
    height:32px;
    background-color: $gray-100;
}